n8n-devto-workflow.json
{
  "name": "Portfolio → Dev.to Auto-Post (AI Summary) — {{DEVTO_USERNAME}}",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "{{BASE_URL}}/api/admin/blogs/unposted-devto",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{N8N_PORTFOLIO_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-unposted",
      "name": "Fetch Unposted Blogs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-blogs",
      "name": "Has Unposted Blogs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ '{{BASE_URL}}/api/admin/blogs/' + $json.id + '/devto-summary' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{N8N_PORTFOLIO_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-summarize",
      "name": "AI Summarize for Dev.to",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.to/api/articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "{{DEVTO_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ article: { title: $json.title, body_markdown: $json.body_markdown, tags: $json.tags, canonical_url: $json.canonical_url, description: $json.description, published: true } }) }}",
        "options": {}
      },
      "id": "post-to-devto",
      "name": "Post to Dev.to",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ '{{BASE_URL}}/api/admin/blogs/' + ($('AI Summarize for Dev.to').item.json.original_id || $('Fetch Unposted Blogs').item.json[0].id) + '/devto-mark' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{N8N_PORTFOLIO_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "devto_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-posted",
      "name": "Mark as Posted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -100]
    },
    {
      "parameters": {},
      "id": "no-blogs",
      "name": "No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 100]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Unposted Blogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unposted Blogs": {
      "main": [
        [
          {
            "node": "Has Unposted Blogs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Unposted Blogs?": {
      "main": [
        [
          {
            "node": "AI Summarize for Dev.to",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarize for Dev.to": {
      "main": [
        [
          {
            "node": "Post to Dev.to",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Dev.to": {
      "main": [
        [
          {
            "node": "Mark as Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-30T00:00:00.000Z",
  "versionId": "1",
  "_meta": {
    "instructions": "1. Import this workflow 2. No credentials needed — headers are inline 3. Activate. Tokens are baked in. Replace this file if you need to rotate."
  }
}
