n8n-devto-workflow.json
{
  "name": "Dev.to Auto-Post (AI Summary)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "03d2bb48-3b32-42c2-b5b5-ffbd622e11ab",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1152,
        96
      ]
    },
    {
      "parameters": {
        "url": "{{BASE_URL}}/api/admin/blogs/unposted-devto",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f5a608a5-6de0-495d-b415-75acf7106464",
      "name": "Fetch Unposted Blogs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "52ec62f1-f656-4308-ab3d-d326e1ba408b",
      "name": "Has Unposted Blogs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -704,
        96
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{json: items[0].json}];"
      },
      "id": "06f519db-3c4a-4ca5-9b3c-10d525e0fb61",
      "name": "Take First Blog",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -480,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ '{{BASE_URL}}/api/admin/blogs/' + $json.id + '/devto-summary' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "dfbf22cd-0460-4a8f-bfe3-4764a39744c1",
      "name": "AI Summarize for Dev.to",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.to/api/articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "{{N8N_DEVTO_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ article: { title: $json.title, body_markdown: $json.body_markdown, tags: $json.tags, canonical_url: $json.canonical_url, description: $json.description, published: true } }) }}",
        "options": {}
      },
      "id": "4c26cab6-6394-4c53-893e-e203737199cb",
      "name": "Post to Dev.to",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        -16
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "c7e66615-2bbf-4ed3-83eb-98826cf234f8",
      "name": "Wait 30s (rate limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -48,
        -16
      ],
      "webhookId": "5ad86b48-3047-46d7-9a7c-1b89abf0e558"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ '{{BASE_URL}}/api/admin/blogs/' + $('AI Summarize for Dev.to').item.json.original_id + '/devto-mark' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{API_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "devto_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0eb56eb8-cad2-4d41-b4cb-6fdc37d4916a",
      "name": "Mark as Posted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -16
      ]
    },
    {
      "parameters": {},
      "id": "45f7008a-d9f0-4325-add7-68ccd7344145",
      "name": "No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -480,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Unposted Blogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unposted Blogs": {
      "main": [
        [
          {
            "node": "Has Unposted Blogs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Unposted Blogs?": {
      "main": [
        [
          {
            "node": "Take First Blog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take First Blog": {
      "main": [
        [
          {
            "node": "AI Summarize for Dev.to",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarize for Dev.to": {
      "main": [
        [
          {
            "node": "Post to Dev.to",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Dev.to": {
      "main": [
        [
          {
            "node": "Wait 30s (rate limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s (rate limit)": {
      "main": [
        [
          {
            "node": "Mark as Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d828e607-3ccd-4cec-a488-2cd680e61d7d",
  "meta": {
    "instanceId": "d26f2ccd8429b254ba4c1a1e9d272bba3c27d39e36f158d0b8f17e36b05fd38d"
  },
  "id": "r40yen0OU3zk4NS5",
  "tags": []
}
