n8n-devto-workflow.json
{
  "name": "Portfolio → Dev.to + Hashnode Auto-Post (AI Summary) — {{DEVTO_USERNAME}}",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "{{BASE_URL}}/api/admin/blogs/unposted-hashnode",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{N8N_PORTFOLIO_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-unposted",
      "name": "Fetch Unposted Hashnode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-blogs",
      "name": "Has Unposted Blogs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "functionCode": "return [{json: items[0].json}];"
      },
      "id": "take-first",
      "name": "Take First Blog",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [660, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ '{{BASE_URL}}/api/admin/blogs/' + $json.id + '/devto-summary' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{N8N_PORTFOLIO_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-summarize",
      "name": "AI Summarize for Dev.to",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.to/api/articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "{{DEVTO_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ article: { title: $json.title, body_markdown: $json.body_markdown, tags: $json.tags, canonical_url: $json.canonical_url, description: $json.description, published: true } }) }}",
        "options": {}
      },
      "id": "post-to-devto",
      "name": "Post to Dev.to",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, -100],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hashnode.com/api/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "{{HASHNODE_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: `mutation { createPost(input: { title: \"${$json.title}\", content: { markdown: \"${$json.body_markdown}\" }, tags: ${JSON.stringify($json.tags)}, publish: true, originalUrl: \"${$json.canonical_url}\", description: \"${$json.description}\" }) { id, url, title } }` }) }}",
        "options": {}
      },
      "id": "post-to-hashnode",
      "name": "Post to Hashnode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 100],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "already-on-devto",
              "leftValue": "={{ ($node['Take First Blog'].json.devto_posted || 0) }}",
              "rightValue": 1,
              "operator": {
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "already-on-devto",
      "name": "Already on Dev.to?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1060, -200]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-after-post",
      "name": "Wait 30s (rate limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ '{{BASE_URL}}/api/admin/blogs/' + $('AI Summarize for Dev.to').item.json.original_id + '/devto-mark' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{N8N_PORTFOLIO_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "devto_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-posted",
      "name": "Mark as Posted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "parameters": [
          {
            "name": "hashnode_id",
            "value": "={{ $json.data.createPost.id }}"
          },
          {
            "name": "hashnode_url",
            "value": "={{ $json.data.createPost.url }}"
          }
        ],
        "options": {}
      },
      "id": "store-hashnode-id",
      "name": "Store Hashnode Post ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ '{{BASE_URL}}/api/admin/blogs/' + $('AI Summarize for Dev.to').item.json.original_id + '/hashnode-mark' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{N8N_PORTFOLIO_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "hashnode_id",
              "value": "={{ $json.hashnode_id }}"
            },
            {
              "name": "hashnode_url",
              "value": "={{ $json.hashnode_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-hashnode-posted",
      "name": "Mark Hashnode as Posted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 100]
    },
    {
      "parameters": {},
      "id": "no-blogs",
      "name": "No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 100]
    },
    {
      "parameters": {},
      "id": "skip-devto",
      "name": "Skip Dev.to Post",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1240, -240]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Unposted Hashnode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unposted Hashnode": {
      "main": [
        [
          {
            "node": "Has Unposted Blogs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Unposted Blogs?": {
      "main": [
        [
          {
            "node": "Take First Blog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take First Blog": {
      "main": [
        [
          {
            "node": "AI Summarize for Dev.to",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarize for Dev.to": {
      "main": [
        [
          {
            "node": "Already on Dev.to?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Hashnode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already on Dev.to?": {
      "main": [
        [
          {
            "node": "Skip Dev.to Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to Dev.to",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Dev.to Post": {
      "main": [
        [
          {
            "node": "Wait 30s (rate limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Dev.to": {
      "main": [
        [
          {
            "node": "Wait 30s (rate limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Hashnode": {
      "main": [
        [
          {
            "node": "Store Hashnode Post ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Hashnode Post ID": {
      "main": [
        [
          {
            "node": "Wait 30s (rate limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s (rate limit)": {
      "main": [
        [
          {
            "node": "Mark as Posted",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark Hashnode as Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-30T00:00:00.000Z",
  "versionId": "1",
  "_meta": {
    "instructions": "1. Import 2. Activate 3. 1 blog per run, 30s wait, auto-retry on 429"
  }
}